/*
   Web Application Development CA1
   
   Student Names: Student Names: Ruby Lennon (x19128355) & Gabriel Salas (x19104162)
   
   Date: 1 November 2020

   Filename: products.css
   
   Supporting Files:
   products.xml
   products.xsd
   products.xsl
   
*/

table{
   width: auto;
   border-collapse: collapse;

}

th {
   border-bottom: 3px solid black;
   height: 60px;
   padding: 10px;
   text-align: center;
}

td {
   border-bottom: 1px solid rgb(80, 80, 80);
   padding: 10px;
}

.center{
   text-align: center;
}
