/*
Web Application Development CA1
   
Student Names: Student Names: Ruby Lennon (x19128355) & Gabriel Salas (x19104162)
   
Date: 3 November 2020

Filename: style.css
   
Supporting Files:
index.html
about.html
mission.html
contact.html
search.html

*/

/* Color pallete */

.background-primary-color { 
    background: #EFFCFF; 
}

.accent-color1 { 
    background: #FFC107; 
}

.accent-color2 {
    background: #ff3368;
}

.primary-text-color { 
    color: #212121; 
}

.secondary-text-color { 
    color: #757575; 
}

/* End of color pallete */

body {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.navbar {
    padding: 0px;
}

.main-menu-item {
    justify-content: center !important;
}

@media (max-width: 991px) {

    .header {
        padding: 15px 0px;
    }

    .navbar-light .navbar-toggler {
        border-color: transparent;
        position: absolute;
        padding: 0px;
    }

    .main-menu-item .nav-item {
        padding: 10px 15px ;
    }

    .navbar-collapse {
        z-index: 9999 !important;
        position: absolute;
        left: 0;
        top: 50px;
        width: 100%;
        background-color: #ff3368;
    }

    .navbar-brand h2 {
        max-width: 100px;
        margin: 0 auto;
        position: absolute;
        left: 0;
        right: 0;
        display: inline-block;
        top: 0;
    }

}

ul li {
    font-size: 15px;
    padding: 30px 15px;
    line-height: 12px;
    font-weight: 400;
}

.navbar-light .navbar-nav .nav-link {
    color: #212121;
}

ion-icon {
    font-size: 25px; 
}

