/*
Web Application Development CA1
   
Student Names: Student Names: Ruby Lennon (x19128355) & Gabriel Salas (x19104162)
   
Date: 3 November 2020

Filename: style.css
   
Supporting Files:
index.html
about.html
mission.html
contact.html
search.html

*/

/**********************************************
*** COLOR PALETTE
**********************************************/

.background-primary-color {background: #68b0ab;}
.accent-color1 {background: #c8d5b9;}
.accent-color2 {background: #faf3dd;}
.primary-text-color {color: #212121;}
.secondary-text-color {color: #757575}
.white-text {color: white;}


/**********************************************
*** GENERAL - NAVBAR - RESPONSIVE VERSION
**********************************************/

body {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.navbar {
    padding: 0px;
}

.main-menu-item {
    justify-content: center !important;
}

ul li {
    font-size: 15px;
    padding: 30px 15px;
    line-height: 12px;
    font-weight: 400;
}

.navbar-light .navbar-nav .nav-link {
    color: #212121;
}

ion-icon {
    font-size: 24px; 
    color: #212121;
}

.icon {
    height: 40px;

}

.main-text {
    padding: 100px 0px;
    min-height: 400px;
}

.button {
    padding: 10px 15px;
    border: none;
    outline:none;
    background-color:#8fc0a9;
	border-radius:29px;
	display:inline-block;
	cursor:pointer;
	color:#212121;
}

.button:hover {
    background-color:#faf3dd;
    padding: 10px 15px;
    border: none;
    outline:none;
}
.button:active {
    padding: 10px 15px;
    border: none;
    outline:none;
	position:relative;
	top:1px;
}

.button a{
    color: #212121;
    text-decoration: none;
}

.reference {
    float: left;
}

@media only screen and (max-width: 991px) {

    .app-container{
        width: 100%;
        height: 100vh;
    }

    .header {
        padding: 15px 0px;

    }

    .navbar-light .navbar-toggler {
        border-color: transparent;
        position: absolute;
        padding: 0px;
    }

    .main-menu-item .nav-item {
        padding: 10px 15px ;
    }

    .nav-item:hover {
        background: #faf3dd;
    }

    .navbar-collapse {
        z-index: 9999 !important;
        position: absolute;
        left: 0;
        top: 45px;
        width: 100%;
        background-color: #8fc0a9;
    }

    .navbar-brand h2 {
        max-width: 100px;
        margin: 0 auto;
        position: absolute;
        left: 0;
        right: 0;
        display: inline-block;
        top: 0;
    }

    .box1 {
        height: 285px;
    }

    .box2 {
        height: 285px;
    }
}


/**********************************************
*** HOME PAGE
**********************************************/

.hero-img {
    background-image: url("img/hero.png");
    background-size: cover;
    min-height: 50vh;
}

.banner-text {
    padding-top: 100px;
    padding-bottom: 15px;
    min-height: auto;
}
 


.box1 {
    background-image: url(img/calc-img.png);
    background-size: cover;
    background-position-y: 40%;
    padding: 15px;
    margin-top: 20px;
    min-height: 165px;

}

#sleigh {
    display: block;
    margin: auto;
}

.box2 {
    padding: 15px;
    margin-top: 20px;
    min-height: 165px;
     
}

/**********************************************
*** CALCULATOR
**********************************************/

#calc1 {
    display: block;
}

#calc2 {
    display: none;
}

#calc3 {
    display: none;
}

.input {
    border: none;
    outline: none;
    margin-top: 5px;
    margin-bottom: 15px;
    width: 70%;
    padding: 5px;

}

.input:focus { outline: none; }

